body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.body {
    margin-left: 20%;
    margin-right: 20%;
    padding: 3% 10%;
    background-color: antiquewhite;
    height: 100%;
}

.logo {
    max-width: 100px;
    margin-right: 2%;
}

.company-name {
    font-family: 'Comic Sans MS', serif;
    font-size: 20px;
    letter-spacing: 3px;
    max-width: 320px;
    width: 100%;
    position: relative;
    display: inline-block;
    color: #256497;
    margin-bottom: -20%;
}

.auth-info {
    font-family: 'Comic Sans MS', serif;
}